In [6]:
#Program to Find the Factorial of a Number
n=int(input("Enter the number thats factorial  to be computed"))
fact=1
for i in range(0,n):
    fact=fact*(i+1)
print(fact)

Enter the number thats factorial  to be computed 10

3628800

In [8]:
#Program to Display the multiplication Table?
n=int(input("Enter the number thats multiplication table to be displayed:"))
for i in range(0,10):
      print(f"{n}x{(i+1)}={n*(i+1)}\n")

Enter the number thats multiplication table to be displayed: 12

12x1=12

12x2=24

12x3=36

12x4=48

12x5=60

12x6=72

12x7=84

12x8=96

12x9=108

12x10=120

In [6]:
#Program to Print the Fibonacci sequence?
n=int(input("Enter the number of terms of the fibnacci sequence to be displayed"))
a,b=0,1
c=0
for i in range(0,n):
    c=b
    b=a+b
    print(a)
    a=c

Enter the number of terms of the fibnacci sequence to be displayed 10

0
1
1
2
3
5
8
13
21
34

In [7]:
#Program to Check Armstrong Number
n=int(input("Enter a number"))
N=n
r=n%10
sum=0
while (N//10)!=0:
    r=N%10
    q=N//10
    N=q
    sum=sum+r**3
sum=sum+N**3
if sum==n:
    print("The given number is an armstrong number")
else:
    print("THe given number is not an armstrong number")

Enter a number 407

The given number is an armstrong number

In [11]:
#Program to Find Armstrong Number in an Interval
a=int(input("Enter the lower limit of the interval:"))
b=int(input("Enter the upper limit of the interval:"))
def armstrong(n):
    N=n
    r=n%10
    sum=0
    while (N//10)!=0:
      r=N%10
      q=N//10
      N=q
      sum=sum+r**3
    sum=sum+N**3
    if sum==n:
      print(n)
for i in range(a,b):
    armstrong(i)

Enter the lower limit of the interval: 1
Enter the upper limit of the interval: 10000

1
153
370
371
407

In [15]:
#Program to Find the Sum of Natural Numbers
l= input("Enter numbers you want to get the sum of seperated by comma")
li= l.split(",")
for i in range (0,len(li)):
    li[i]=int(li[i])
sum=0
for i in li:
    sum=sum+i
print("The summation of all the numbers you have entered:",sum)

Enter numbers you want to get the sum of seperated by comma 1,2,3,4

The summation of all the numbers you have entered: 10

Enter a list 1,2,3,4

['1', '2', '3', '4']

Enter elements of a list separated by space  1 2 3 4

list:  ['1', '2', '3', '4']
Sum =  10

Enter elements of a list separated by space  1,2,3

['1', '2', '3']

In [ ]:
l=